// variable 載入函式
@import "~bootstrap/scss/functions";
@import "./helpers/variables";
@import "~bootstrap/scss/bootstrap";
@import "./mixin";
* {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  img {
    max-width: 100%;
    height: auto;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 32px;
  }
}
